*{
   padding:0px; 
   margin:0px;
   scroll-behavior:smooth;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Rubik', sans-serif;
}

p{ 
   color:rgb(160, 158, 158);
}



      /*----------------HEADING-SECTION--------------------*/
.heading-container{
   width:100%;
   height:1206px;
   background-color: rgb(255, 234, 221);
 }

 .heading-nav-scetion{
   display:flex; 
   justify-content: space-between; 
   padding-top: 30px; }

.nav-heading{
   padding-left:50px;
   font-size: 40px;
   line-height: 53px; 
}

.heading-nav-scetion{
   width:1920px;
   height: 70px;
}

.nav-bar{ 
   padding-right:90px;
}

.nav-bar ul li{
    text-decoration: none; 
    list-style-type:none; 
    display:inline-block;
    padding:20px;
    margin-left:52px;
}
.nav-bar ul li a{
    text-decoration: none;
   color: #424242;
}

.nav-bar ul li a:hover{color:rgb(255, 153, 0);}

hr{  color:#424242;
     margin:10px 10px;
   }

.heading-title-sec{
      align-items: center;
      text-align: center;
      width: 508px;
      height: 370px;
      justify-content: center;
      padding-left:38%;
      }


.head-h{ 
   font-weight: 700px;
   font-size: 60px;}


.head-p{ 
   size:72px; 
   font-weight:200; 
}

.head-btn{
         background-color:rgb(255, 153, 0); color:white;
         border-radius:5px;
         height:65px;
         width:155px;
         border-color:rgb(255, 153, 0); 
         cursor:pointer;
         text-align: center;
      }
      
      
#heading-elements{
         padding-bottom: 3%;
      }

 .heading-picture img{
       width: 1440px;
       height: 700px; 
       padding-left:242px;
   }


/*----------------------SECOND-CONTAINER-------------------*/

.img-and-info-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
height:744px;
width:60%;
margin:80px;
justify-items: center;
align-items: center; 
margin-left:290px;

}

.team-images{
   display:grid;
   grid-template-columns: repeat(2, 0fr);  

}

.team-images img{
   padding:10px;
   position:right;
}

.team-info{ 
   height:300px;
   width:400px; 
}

.team-btn{
   background-color:rgb(255, 153, 0); 
   color:white;
   border-radius:5px;
   height:65px;
   width:155px;
   border-color:rgb(255, 153, 0); 
   cursor:pointer;
   text-align: center;}

   #team-info{padding-bottom: 5%;}
   .team-h{font-size: 36px;}


            /*INFO-CONTAINER-3*/

   .info-container-3{
      border:1px solid white;
      width: 1440px;
      height: 1106px;
      display:flex;
      margin-left:316px;
      
   }
 

   .info-article h1{
      border-left:5px solid rgb(255, 153, 0);
      height:72px; 
      width:284px;
   }

   .info-ar-p{ 
      height:70px;
      width:550px;
      border:1px solid white; 
      padding-top:12px; 
      padding-bottom: 12px;
   }
     
   .info-bx{
      border:1px solid white;
      height:140px;
      display:grid;
      grid-template-columns: auto;
      width:516px;
      box-shadow:2px 6px 6px 6px rgb(235, 235, 235); padding-bottom: 12px;
      margin-top:50px;
   }

.info-3-btn{
      background-color:rgb(255, 153, 0); 
      color:white;
      border-radius:5px;
      height:116px;
      width:220px;
      border-color:rgb(255, 153, 0); 
      cursor:pointer;
      text-align: center;
   }
   
   
button:hover {
         border:4px solid rgb(255, 153, 0); 
         background-color:rgb(243, 235, 235); 
         color:rgb(255, 153, 0); 
   }

.info-img{
        width: 708px;
        height: 982px;
      
   }
/*------------FACT-SECTION---------------*/

.fact-sec{
      height:100px;
      width:540px;
      margin-left:180px; 
   }

/*-----------------icon-box-section---------------------*/

.icon-cont{
     display:grid;
     grid-template-columns: repeat(0,2fr);    grid-template-areas:"a a a a";
     padding-left:224px;
   }

    .icon-bx{
       justify-items: center;
       height:220px;
       width:220px; 
       border:2px solid rgb(255, 153, 0);
       border-radius: 5%; 
       align-items: center; 
       text-align: center; 
       margin-top:90px; 
       cursor:pointer; 
       animation-name:box-animation;
       animation-duration: 1s;  
       animation-delay: 1s;
       animation-fill-mode:backwards;
      }

      @keyframes box-animation 
      {
         from {top: 0px;}
         to {top: 200px; background-color: rgb(255, 234, 221);}
      }


.icons-img{padding-top:50px;}
  #icon-hd{padding-top:10px;}
  #icon-pr{padding-top:10px;}
/*-------------------SPONSOR-CONTAINER-----------------------------*/
.spn-cont{margin-top: 7%; 
   width:500px; 
   height:120px; 
   align-items: center;
   text-align: center; 
   justify-content: center; 
   margin-left:736px;
}

.spn-hd{ 
   margin-bottom: 3%;
}


.spn-icons
{display: grid; 
grid-template-areas:"a a a a a"; 
}


.spn-icons img{
   padding: 30%;
   cursor:pointer;
}

/*------------------FOOTER-SECTION-----------------------*/
.ftr-sec{
       height:48px;
       width:800px;
       background-color:rgb(255, 234, 221) ;
       padding-top: 2%;
       margin-left: 570px;
       margin-bottom:50px;
      }
      .heading-container{grid-area: heading-container;}
      .heading-section{grid-area: heading-section;}
      .nav-heading{grid-area: nav-heading;}
      .nav-bar{grid-area: nav-bar;}
      .heading-title-sec{grid-area: heading-title-sec;}
      .heading-section{grid-area: heading-section;}
      

/*------------MEDIA-QUERY------------*/

